
body{
    margin: 0;
    padding: 0;
  
}

#Header{
  width:100%;
  height:100px;
  line-height:100px;
  background-color: black; 
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#Header img{

  width: 20px;
  background-color: orange;
  margin: 0 10px;
  
}
#Header #prijava_icon{
  background-color: black;
}

#Header a {
  margin-bottom: 20px;
  padding: 0;
  color: white;
  font-weight: bold;
  padding-left: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: none;

}

#Header :hover{
  color: yellow !important;
}

#logout-btn {
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
  background-color: black;
  border: 2px solid orange;
  box-shadow: 0px 0px 6px 4px orange;
  margin-left: 10px;
  cursor: pointer;
}

#Header #logout-btn :hover{
  background-color: rgb(245, 245, 245) ;
}

.drugiDioHeader{

  margin-right: 30px;
}

.nistePrijavljeni
{
  pointer-events: none;
}

.ispisTextaZaPrijavuKorisnika
{
  
pointer-events: none;
}

#imeKorisnika
{
  padding-left: 3px !important;
    font-size: 22px;
    font-weight: bolder !important;
    color: #ff8800 !important;
    pointer-events: none;
}



#pocetnaRije훾{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: white;
}

@keyframes animacijaSlike {
  100%{
      top: 0px;
      position: relative;
    }
  0%{
    top: -400px;
    position: relative;
    }
}
  
  @keyframes animacijaNaslov {
100%{
  
    }
  0%{
     padding-top: 100px;
    }
  
}  

.novosti2Slika{
  width: 100%;
  animation: animacijaSlike 0.8s ease-in-out;

}
.novosti2Sadrzaj{
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20%;
}
.novosti2Sadrzaj h2{
  text-align: center;
  font-weight: bold;
  border-bottom: 4px solid orange;
  animation: animacijaNaslov 0.8s ease-in-out ;

}






body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  font-size: larger;
  height: 65%;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ff8800;
  color: white;
}

.modal-content input{
width: 97%;
height: 35px;
}

.modal-content select{
  width: 97%;
  height: 35px;
}

.modal-body {
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.poruka{
  width: 300px !important;
  height: 50px !important;
}

#Importance{
  padding-left: 15px;
}

#ReceiveNewsletter{
height: 15px;
width: 15px;
}

.posalji{
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
  background-color: black;
  border: 2px solid orange;
  box-shadow: 0px 0px 6px 4px orange;
  cursor: pointer;
}

.gumbPoslao{
text-align: center ;
}

h2 img{

width: 50px;

}

.modal-footer {
  padding: 10px 16px;
  background-color: #ff8800;
  color: white;
  padding-top: 6px;
  margin-top: 147px;
}



.doljnjaSlika {
  width: 100%;
  height: 135px;
  position: fixed;
  bottom: 0;

}





@media (max-width:1500px) {


.modal-footer {
  padding: 10px 16px;
  background-color: #ff8800;
  color: white;
  padding-top: 6px;
  margin-top: 0;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
min-width: 250px;
}





.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
z-index: 6;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #ff8800;
color: white;
}

.modal-content input {
width: 80% !important;
height: 35px !important;
}

.modal-content select{
width: 80%;
height: 35px;
}

.modal-body {
margin-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
}



#Importance{
padding-left: 15px;
}

#ReceiveNewsletter{
height: 15px;
width: 15px;
}

.posalji{
color: white;
font-weight: bold;
height: 30px;
width: 100px;
background-color: black;
border: 2px solid orange;
box-shadow: 0px 0px 6px 4px orange;
cursor: pointer;
}

.gumbPoslao{
text-align: center ;
}

h2 img{

width: 50px;

}
}





@media (max-width:1050px) {
  
  
  body{
    margin: 0;
    padding: 0;
  
  }
  
  #Header{
  width:100%;
  height:100px;
  line-height:100px;
  background-color: black; 
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
  
  #Header img{
  
  width: 20px;
  background-color: orange;
  margin: 0 10px;
  
  }
  #Header #prijava_icon{
  background-color: black;
  }
  
  #Header a {
  margin-bottom: 20px;
  padding: 0;
  color: white;
  font-weight: bold;
  padding-left: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: none;
  
  }
  
  #Header :hover{
  color: yellow !important;
  }
  
  #logout-btn {
  color: white;
  font-weight: bold;
  height: 30px;
  width: 100px;
  background-color: black;
  border: 2px solid orange;
  box-shadow: 0px 0px 6px 4px orange;
  margin-left: 10px;
  cursor: pointer;
  }
  
  #Header #logout-btn :hover{
  background-color: rgb(245, 245, 245) ;
  }
  
  .drugiDioHeader{
  
  margin-right: 30px;
  }
  
  .nistePrijavljeni
  {
  pointer-events: none;
  }
  
  .ispisTextaZaPrijavuKorisnika
  {
  
  pointer-events: none;
  }
  
  #imeKorisnika
  {
  padding-left: 3px !important;
    font-size: 22px;
    font-weight: bolder !important;
    color: #ff8800 !important;
    pointer-events: none;
  }
  
  
  
  #pocetnaRije훾{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    color: white;
  }
  
  @keyframes animacijaSlike {
  100%{
      top: 0px;
      position: relative;
    }
  0%{
    top: -400px;
    position: relative;
    }
  }
  
  @keyframes animacijaNaslov {
  100%{
  
    }
  0%{
     padding-top: 100px;
    }
  
  }  
  
  .novosti2Slika{
  width: 100%;
  animation: animacijaSlike 0.8s ease-in-out;
  
  }
  .novosti2Sadrzaj{
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20%;
  }
  .novosti2Sadrzaj h2{
  text-align: center;
  font-weight: bold;
  border-bottom: 4px solid orange;
  animation: animacijaNaslov 0.8s ease-in-out ;
  
  }
  
  
  
  
  
  
  body {font-family: Arial, Helvetica, sans-serif;}
  
  
.modal-footer {
  padding: 10px 16px;
  background-color: #ff8800;
  color: white;
  padding-top: 6px;
  margin-top: 0;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
min-width: 250px;
}





.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
z-index: 6;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #ff8800;
color: white;
}

.modal-content input {
width: 80% !important;
height: 35px !important;
}

.modal-content select{
width: 80%;
height: 35px;
}

.modal-body {
margin-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
}



#Importance{
padding-left: 15px;
}

#ReceiveNewsletter{
height: 15px;
width: 15px;
}

.posalji{
color: white;
font-weight: bold;
height: 30px;
width: 100px;
background-color: black;
border: 2px solid orange;
box-shadow: 0px 0px 6px 4px orange;
cursor: pointer;
}

.gumbPoslao{
text-align: center ;
}

h2 img{

width: 50px;

}

  
  
  .doljnjaSlika {
  width: 100%;
  height: 135px;
  position: fixed;
  bottom: 0;
  
  }
  
  }








@media (max-width:600px) {
  
  
body {
  margin: 0;
  padding: 0;
  min-width: 270px;
}


.prijava{
  font-size: 0;
}
#po훾etna{
  font-size: 0;

}
#opis{
  font-size: 0;

}
#nastavni_plan{
  font-size: 0;

}
#novosti{
  font-size: 0;

}
#myBtn{
  font-size: 0;

}


#Header{
width:100%;
height:100px;
line-height:100px;
background-color: black; 
top: 0;
position: sticky;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

#Header img{

width: 20px;
background-color: orange;
margin: 0 10px;

}
#Header #prijava_icon{
background-color: black;
}

#Header a {
margin-bottom: 20px;
padding: 0;
color: white;
font-weight: bold;
padding-left: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration-line: none;

}

#Header :hover{
color: yellow !important;
}

#logout-btn {
color: white;
font-weight: bold;
height: 30px;
width: 100px;
background-color: black;
border: 2px solid orange;
box-shadow: 0px 0px 6px 4px orange;
margin-left: 10px;
cursor: pointer;
}

#Header #logout-btn :hover{
background-color: rgb(245, 245, 245) ;
}

.drugiDioHeader{

margin-right: 30px;
}

.nistePrijavljeni
{
pointer-events: none;
}

.ispisTextaZaPrijavuKorisnika
{

pointer-events: none;
}

#imeKorisnika
{
padding-left: 3px !important;
  font-size: 22px;
  font-weight: bolder !important;
  color: #ff8800!important;
  pointer-events: none;
}



#pocetnaRije훾{
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  color: white;
}

@keyframes animacijaSlike {
100%{
    top: 0px;
    position: relative;
  }
0%{
  top: -400px;
  position: relative;
  }
}

@keyframes animacijaNaslov {
100%{

  }
0%{
   padding-top: 100px;
  }

}  

.novosti2Slika{
width: 100%;
animation: animacijaSlike 0.8s ease-in-out;

}
.novosti2Sadrzaj{
text-align: justify;
margin-left: 20%;
margin-right: 20%;
padding-bottom: 40%;
}
.novosti2Sadrzaj h2{
text-align: center;
font-weight: bold;
border-bottom: 4px solid orange;
animation: animacijaNaslov 0.8s ease-in-out ;

}






body {font-family: Arial, Helvetica, sans-serif;}


.modal-footer {
  padding: 10px 16px;
  background-color: #ff8800;
  color: white;
  padding-top: 6px;
  margin-top: 0;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
min-width: 250px;
}





.modal {
display: none; 
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
z-index: 6;
}

.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
font-size: larger;
height: 65%;
width: 50%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #ff8800;
color: white;
}

.modal-content input {
width: 80% !important;
height: 35px !important;
}

.modal-content select{
width: 80%;
height: 35px;
}

.modal-body {
margin-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
}



#Importance{
padding-left: 15px;
}

#ReceiveNewsletter{
height: 15px;
width: 15px;
}

.posalji{
color: white;
font-weight: bold;
height: 30px;
width: 100px;
background-color: black;
border: 2px solid orange;
box-shadow: 0px 0px 6px 4px orange;
cursor: pointer;
}

.gumbPoslao{
text-align: center ;
}

h2 img{

width: 50px;

}



.doljnjaSlika {
width: 100%;
height: 135px;
position: fixed;
bottom: 0;

}

}









@media(max-width:280px){

  .doljnjaSlika {
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}

#Header {
  width: 100%;
  height: 100px;
  line-height: 20px;
  font-size: 0px !important;
  background-color: black;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.novosti3Slika {
  height: 80px;
  width: 100%;
  animation: animacijaSlike 0.8s ease-in-out;
}
}


@media(max-width:830px){

 

#Header {
  width: 100%;
  height: 100px;
  line-height: 20px;
  font-size: 10px;
  background-color: black;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

}
